/* Author: Ty Hopp */

/* *Note - this stylesheet should be included in all components in addition to their stylesheet
with the same name. It contains global values that should be shared. */


/* ----------------------------------------------------------------------------------------- */
/* MAIN STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  color: white;
  background-color: #142438;
}
/* font antialiasing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* remove button outlines */
*:focus {outline:none !important}

/* Container */
.container {
  display: flex;
  flex: 1;
}

/* Modals */
.createOverlay {
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}

/* Dropdowns */
select {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #122C46;
  border: none;
}

/* for animated transitions */
.switchWrapper {
  position: relative;
}
.switchWrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------------------------------------- */

