.categoryList {
	display: flex;
	flex-direction: row;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.categoryItem {
	padding: 6px 25px;
	margin: 0 20px;
	color: #fff;
	border-radius: 15px;
}
.red {
	background-color: #DA4747;
}
.green {
	background-color: #1CA189;
}
.purple {
	background-color: #7236D7;
}