.entirePostList {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}
.postListContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 80px;
}
.postListRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 30px 0;
}
.postContainer { 
	width: 300px;
	height: 100%;
	background-color: #122C46;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 20px 0 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.openPostButton {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #142438;
	background-color: #04d794;
	padding: 4px 10px;
	margin: 0px;
	border-radius: 8px;
}
.openPostButton:hover {
	box-shadow: 0 6px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.newPostButton {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	font-size: 60px;
	margin: 60px;
	color: #fed80a;
}
.newPostButtonImg:hover {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	box-shadow: 0 6px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button, input[type="submit"], input[type="reset"] { /* remove default button styles */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* MISC */
.loading {
	position: fixed;
	z-index: 5;
	top: 45%;
	left: 45%;
}
.marg {
	margin: 0 8px;
}