/* MAIN MODALS */
.postEditorBg {
	position: fixed;
	z-index: 5;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #122C46;
	opacity: 0.8;
}
.postEditorContainer {
	position: fixed;
	z-index: 6;
	width: 700px;
	height: 400px;
	overflow: hidden;
	top: 20%;
	left: 46%;
	margin-left: -23%;
	background-color: #122C46;
  	border-radius: 15px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.postEditorContainerTwo {
	position: fixed;
	z-index: 6;
	width: 700px;
	height: 300px;
	overflow: hidden;
	top: 25%;
	left: 46%;
	margin-left: -23%;
	background-color: #122C46;
  	border-radius: 15px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.postEditorContainer:hover {
	overflow-y: scroll;
}
.postEditorContainerTwo:hover {
	overflow-y: scroll;
}
.postEditorHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 0 20px;
}
.modalTwoHeaderAlign {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.postEditorAuthorAlign {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.postEditorAuthor {
	padding-left: 8px;
}
.white {
	color: #fff;
}
.gold {
	color: #fed80a;
}
.postEditorMain {
	padding: 10px 40px 30px 40px;
}
.postEditorRowAlign {
	padding: 0 20px;
}
.postEditorRow {
	padding: 10px 0;
}
.postEditorTitle {
	font-size: 24px;
	color: #04d794;
}
.postEditorBody {
	line-height: 22px;
}
.postEditorActionItems {
	display: flex;
	flex-direction: row;
}
.postEditorActionItem {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}
.postEditorVoteScore {
	border-radius: 10px;
	background-color: #0088ff;
}
.postEditorVoteScoreCount {
	font-size: 14px;
	padding: 2px 10px;
	color: #fff;
}
.postEditorCategory {
	font-size: 13px;
	color: #fff;
	background-color: #7236D7;
	padding: 2px 10px;
	border-radius: 8px;
}
.postEditorLineBreak {
	height: 10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}
/* POST DETAIL COMMENTS */
.postEditorCommentBlock {
	background-color: #0F1E31;
	border-radius: 10px;
}
.postEditorCommentBlockAlign {
	padding: 20px 20px 10px 20px;
}
.postEditorCommentTitleAlign {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.postEditorCommentTitle {
	color: #fed80a;
	font-size: 20px;
	margin: 10px 0;
	padding-left: 10px;
}
.postEditorCommentMain {
	display: flex;
	flex-direction: row;
}
.postEditorCommentText {
	line-height: 22px;
}
.postEditorCommentClose {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.postEditorCommentActionItems {
	display: flex;
	flex-direction: row;
}
.postEditorActionReply {
	font-size: 13px;
	color: #142438;
	background-color: #fed80a;
	padding-top: 2px;
	border-radius: 8px;
}
.postEditorActionOnComment {
	display: flex;
	flex-direction: row;
}
.postEditorReplyBlock {
	background-color: #0F1E31;
	border-radius: 10px;
}
.postEditorReplyBlockAlign {
	padding: 10px 20px;
}
.postEditorReplyMain {
	display: flex;
	flex-direction: column;
}
.postEditorReplyRow {
	margin: 10px 0;
}
.postEditorReplyName {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.postEditorReplyNamePrompt {
	margin-right: 10px;
}
.postEditorReplyContent {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.postEditorReplyContentPrompt {
	margin-right: 14px;
	align-self: flex-start;
}
.postEditorReplyInput {
	width: 100%;
	height: 60px;
}
input[type=text] {
	height: 25px;
	padding: 0 10px;
	color: #fff;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	background-color: #0B213E;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
	color: #fff;
	padding: 3px 10px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	background-color: #0B213E;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.postEditorReplyToCommentAlign {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.postEditorReplyToCommentText {
	font-size: 16px;
	padding-top: 2px
}

/* MISC */
.loading {
	position: fixed;
	z-index: 5;
	top: 45%;
	left: 45%;
}
.marg {
	margin: 0 8px;
}